@model HomeVM
@{
    ViewData["Title"] = "Home";
    var ProductList = Model.Products.ToList();
    var ServiceList = Model.Services.ToList();
    var RequestList = Model.Requests.ToList();
    var PartnerList = Model.Partners.ToList();
    var TrustiesList = Model.Trusts.ToList();
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .search-container {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        width: 450px;
        border-radius: 3px;
    }

    .search-dd {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 3px;
        right: 10px;
        width: 135px;
    }

    .search-input {
        border: 0;
        padding: 4px;
        width: calc(100% - 11px);
    }

    .search-btn {
        position: absolute;
        top: 0;
        right: -2px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px 2px 20px;
        background: #0d6efd;
        color: #fff;
        transition: 0.3s;
    }

    .our-partners {
        color: #0e0e0e;
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
</style>
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Viadct</span></h2>
                        <p class="animate__animated animate__fadeInUp">Find the right products & services, right away</p>
                        <a href="/Identity/Account/Register" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
                        <div class="d-flex justify-content-center">
                            <div class="search-dd">
                                <select id="search-keyword-dd" class="form-select">
                                    <option value="Product">Product</option>
                                    <option value="Service">Service</option>
                                    <option value="Request">Request</option>
                                </select>
                            </div>
                            <div class="search-container">
                                <input id="search-keyword" class="search-input" type="text">
                                <button onclick="searchKeyWord()" class="search-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*
            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
            <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="/Identity/Account/Register" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
            </div>
            </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
            <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="/Identity/Account/Register" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
            </div>
            </div>
            </div> *@

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2>Eum ipsam laborum deleniti velitena</h2>
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
                    </ul>
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">
            <h2 class="animate__animated animate__fadeInDown our-partners">Our Partners</h2><div class="container">
                <div class="row">
                    @for (int j = 0; j < TrustiesList.Count; j++)
                    {
                        var requestImgUrl = "";
                        if (TrustiesList[j].TrustImages.Count > 0)
                        {
                            requestImgUrl = TrustiesList[j].TrustImages[0].ImageUrl;
                        }
                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="@requestImgUrl" class="img-fluid" alt="">
                        </div>
                    }
                </div>

            </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    @*   <section id="services" class="services">
    <div class="container">

    <div class="row">
    <div class="col-md-6">
    <div class="icon-box">
    <i class="bi bi-briefcase"></i>
    <h4><a href="#">Lorem Ipsum</a></h4>
    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
    </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
    <div class="icon-box">
    <i class="bi bi-card-checklist"></i>
    <h4><a href="#">Dolor Sitema</a></h4>
    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
    </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
    <div class="icon-box">
    <i class="bi bi-bar-chart"></i>
    <h4><a href="#">Sed ut perspiciatis</a></h4>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
    </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
    <div class="icon-box">
    <i class="bi bi-binoculars"></i>
    <h4><a href="#">Nemo Enim</a></h4>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
    <div class="icon-box">
    <i class="bi bi-brightness-high"></i>
    <h4><a href="#">Magni Dolore</a></h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
    </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
    <div class="icon-box">
    <i class="bi bi-calendar4-week"></i>
    <h4><a href="#">Eiusmod Tempor</a></h4>
    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
    </div>
    </div>
    </div>

    </div>
    </section> *@<!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            @* <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Products</li>
                        <li data-filter=".filter-card">Services</li>
                        <li data-filter=".filter-web">Requests</li>
                    </ul>
                </div>
            </div> *@
            <h2 class="animate__animated animate__fadeInDown our-partners">Products</h2>
            <div class="row portfolio-container-2">
                @for (int index = 0; index < ProductList.Count; index++)
                {
                    var item = ProductList[index];
                    <div class="col-lg-4 col-md-6">
                        <div class="portfolio-wrap">
                            @{
                                var ProductImgUrl = "";
                                if (item.ProductImages.Count > 0)
                                {
                                    ProductImgUrl = item.ProductImages[0].ImageUrl;
                                }
                                else
                                {
                                    ProductImgUrl = @"\images\blank-img.jpg";
                                }
                            }
                            <img src="@ProductImgUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@item.Name</h4>
                                <p>@item.Category.Name</p>
                                <div class="portfolio-links">
                                    <a href="@ProductImgUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                                    <a onclick="ProductDetailsBtn(@item.Id)" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @* <div class="row portfolio-container-2">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> *@

        </div>
    </section><!-- End Portfolio Section -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="animate__animated animate__fadeInDown our-partners">Services</h2>
            <div class="row portfolio-container-2">
                @for (int index = 0; index < ServiceList.Count; index++)
                {
                    var item = ServiceList[index];
                    <div class="col-lg-4 col-md-6">
                        <div class="portfolio-wrap">
                            @{
                                var ServiceImgUrl = "";
                                if (item.ServiceImages.Count > 0)
                                {
                                    ServiceImgUrl = item.ServiceImages[0].ImageUrl;
                                }
                                else
                                {
                                    ServiceImgUrl = @"\images\blank-img.jpg";
                                }
                            }
                            <img src="@ServiceImgUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@item.Name</h4>
                                <p>@item.Category.Name</p>
                                <div class="portfolio-links">
                                    <a href="@ServiceImgUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                                    <a onclick="ServiceDetailsBtn(@item.Id)" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="animate__animated animate__fadeInDown our-partners">Requests</h2>
            <div class="row portfolio-container-2">
                @for (int index = 0; index < RequestList.Count; index++)
                {
                    var item = RequestList[index];
                    <div class="col-lg-4 col-md-6">
                        <div class="portfolio-wrap">
                            @{
                                var RequestImgUrl = "";
                                if (item.RequestImages.Count > 0)
                                {
                                    RequestImgUrl = item.RequestImages[0].ImageUrl;
                                }
                                else
                                {
                                    RequestImgUrl = @"\images\blank-img.jpg";
                                }
                            }
                            <img src="@RequestImgUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@item.Name</h4>
                                <p>@item.Category.Name</p>
                                <div class="portfolio-links">
                                    <a href="@RequestImgUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                                    <a onclick="RequestDetailsBtn(@item.Id)" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</main><!-- End #main -->
@* <div class="container-xl">
    <div class="row">
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Products</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnproductCarousel = (int)Math.Ceiling(ProductList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnproductCarousel; i++)
                        {
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < ProductList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">

                                    @for (int j = i; j < i + 4 && j < ProductList.Count; j++)
                                    {
                                        var serviceImgUrl = "";
                                        if (ProductList[j].ProductImages.Count > 0)
                                        {
                                            serviceImgUrl = ProductList[j].ProductImages[0].ImageUrl;
                                        }
                                        else
                                        {
                                            serviceImgUrl = @"\images\blank-img.jpg";
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@serviceImgUrl" class="img-fluid" alt="@ProductList[j].Name">
                                                </div>
                                                <div class="separator-solid"></div>
                                                <div class="thumb-content">
                                                    <h4>@ProductList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@ProductList[j].Category.Name</b></p>
                                                    <a onclick="ProductDetailsBtn(@ProductList[j].Id)" class="btn btn-primary">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Carousel controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Services</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnProductCarousel = (int)Math.Ceiling(ServiceList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnProductCarousel; i++)
                        {
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < ServiceList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < ServiceList.Count; j++)
                                    {
                                        var serviceImgUrl = "";
                                        if (ServiceList[j].ServiceImages.Count > 0)
                                        {
                                            serviceImgUrl = ServiceList[j].ServiceImages[0].ImageUrl;
                                        }
                                        else
                                        {
                                            serviceImgUrl = @"\images\blank-img.jpg";
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@serviceImgUrl" class="img-fluid" alt="@ServiceList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@ServiceList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@ServiceList[j].Category.Name</b></p>
                                                    <a onclick="ServiceDetailsBtn(@ServiceList[j].Id)" class="btn btn-primary ">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Carousel controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Requests</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="requestCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnRequestCarousel = (int)Math.Ceiling(RequestList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnRequestCarousel; i++)
                        {
                            <button type="button" data-bs-target="#requestCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < RequestList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < RequestList.Count; j++)
                                    {
                                        var requestImgUrl = "";
                                        if (RequestList[j].RequestImages.Count > 0)
                                        {
                                            requestImgUrl = RequestList[j].RequestImages[0].ImageUrl;
                                        }
                                        else
                                        {
                                            requestImgUrl = @"\images\blank-img.jpg";
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@requestImgUrl" class="img-fluid" alt="@RequestList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@RequestList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@RequestList[j].Category.Name</b></p>
                                                    <a onclick="RequestDetailsBtn(@RequestList[j].Id)" class="btn btn-primary ">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#requestCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#requestCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> *@

@section Scripts {
    <script>
        function ProductDetailsBtn(productId) {
            var url = '@Url.Action("ProductDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", productId);
            window.location.href = url;
        }
        function ServiceDetailsBtn(serviceId) {
            var url = '@Url.Action("ServiceDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", serviceId);
            window.location.href = url;
        }
        function RequestDetailsBtn(requestId) {
            var url = '@Url.Action("RequestDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", requestId);
            window.location.href = url;
        }
        function searchKeyWord() {
            var searchkeyworddd = $('#search-keyword-dd').val();
            var searchkeyword = $('#search-keyword').val();

            var data = {
                searchkeyworddd: searchkeyworddd,
                searchkeyword: searchkeyword
            };
            $.ajax({
                type: 'GET', // Change to 'POST' if your controller action expects POST requests
                url: '@Url.Action("search", "Home", new { area = "visitor" })',
                data: data,
                success: function (resp) {
                    var newWindow = window.open();
                    newWindow.document.write(resp);
                },
                error: function (er) { },
            });
            //var url = '@Url.Action("search", "Home", new { area = "visitor" })';
            //url += '?' + $.param(data);

        }

        $(document).ready(function () {
        });
    </script>
}
