@model HomeVM
@{
    ViewData["Title"] = "Home";
    var ProductList = Model.Products.ToList();
    var ServiceList = Model.Services.ToList();
    var RequestList = Model.Requests.ToList();
    var PartnerList = Model.Partners.ToList();
    var TrustiesList = Model.Trusts.ToList();
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background: #e2eaef;
        font-family: "Open Sans", sans-serif;
    }

    .h2ProfileCsarousel {
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        margin: 30px 0 15px;
    }

    #AddProductBtn, #AddRequestBtn, #AddServiceBtn {
        margin: 30px 0 15px;
    }

    .h2ProfileCsarousel::after {
        content: "";
        width: 150px;
        position: absolute;
        margin: 0 0;
        height: 4px;
        border-radius: 1px;
        background: #007bff;
        left: 0;
        right: 0;
        bottom: -20px;
    }

    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }

        .carousel .item {
            color: #747d89;
            min-height: 325px;
            text-align: center;
            overflow: hidden;
        }

        .carousel .thumb-wrapper {
            padding: 25px 15px;
            background: #fff;
            border-radius: 6px;
            text-align: center;
            position: relative;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }

        .carousel .item .img-box {
            height: 120px;
            margin-bottom: 20px;
            width: 100%;
            position: relative;
        }

        .carousel .item img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        .carousel .item h4 {
            font-size: 18px;
        }

        .carousel .item h4, .carousel .item p, .carousel .item ul {
            margin-bottom: 5px;
        }

        .carousel .thumb-content .btn {
            color: #007bff;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            background: none;
            border: 1px solid #007bff;
            padding: 6px 14px;
            margin-top: 5px;
            line-height: 16px;
            border-radius: 20px;
        }

            .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
                color: #fff;
                background: #007bff;
                box-shadow: none;
            }

            .carousel .thumb-content .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

        .carousel .item-price {
            font-size: 13px;
            padding: 2px 0;
        }

            .carousel .item-price strike {
                opacity: 0.7;
                margin-right: 5px;
            }

    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: #007bff;
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
    }

        .carousel-control-prev:hover, .carousel-control-next:hover {
            background: #007bff;
            opacity: 1;
        }

        .carousel-control-prev i, .carousel-control-next i {
            font-size: 36px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin: -19px 0 0 0;
            z-index: 5;
            left: 0;
            right: 0;
            color: #fff;
            text-shadow: none;
            font-weight: bold;
        }

        .carousel-control-prev i {
            margin-left: -2px;
        }

        .carousel-control-next i {
            margin-right: -4px;
        }

    .carousel-indicators {
        bottom: -50px;
    }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 10px;
            height: 10px;
            margin: 4px;
            border-radius: 50%;
            border: none;
        }

        .carousel-indicators li {
            background: rgba(0, 0, 0, 0.2);
        }

            .carousel-indicators li.active {
                background: rgba(0, 0, 0, 0.6);
            }

    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }

        .carousel .wish-icon .fa-heart {
            color: #ff6161;
        }

    .star-rating li {
        padding: 0;
    }

    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }

    .img-logo {
        border: 2px solid black;
        min-height: 130px;
        min-width: 115px;
    }

    .img-box {
        width: 100%;
        height: 200px; /* Set desired height */
        overflow: hidden;
        position: relative;
    }

        .img-box img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures image covers the area while maintaining aspect ratio */
            object-position: center; /* Center the image within the container */
        }

    .fa.fa-trash {
        color: #ec5959;
    }
</style>
<div class="container-xl">
    <div class="row">
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Products</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnproductCarousel = (int)Math.Ceiling(ProductList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnproductCarousel; i++)
                        {
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < ProductList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < ProductList.Count; j++)
                                    {
                                        var serviceImgUrl = "";
                                        if (ProductList[j].ProductImages.Count > 0)
                                        {
                                            serviceImgUrl = ProductList[j].ProductImages[0].ImageUrl;
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@serviceImgUrl" class="img-fluid" alt="@ProductList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@ProductList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@ProductList[j].Category.Name</b></p>
                                                    <a onclick="ProductDetailsBtn(@ProductList[j].Id)" class="btn btn-primary">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Carousel controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Services</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnProductCarousel = (int)Math.Ceiling(ServiceList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnProductCarousel; i++)
                        {
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < ServiceList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < ServiceList.Count; j++)
                                    {
                                        var serviceImgUrl = "";
                                        if (ServiceList[j].ServiceImages.Count > 0)
                                        {
                                            serviceImgUrl = ServiceList[j].ServiceImages[0].ImageUrl;
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@serviceImgUrl" class="img-fluid" alt="@ServiceList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@ServiceList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@ServiceList[j].Category.Name</b></p>
                                                    <a href="#" class="btn btn-primary">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Carousel controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Requests</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="requestCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnRequestCarousel = (int)Math.Ceiling(RequestList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnRequestCarousel; i++)
                        {
                            <button type="button" data-bs-target="#requestCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < RequestList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < RequestList.Count; j++)
                                    {
                                        var requestImgUrl = "";
                                        if (RequestList[j].RequestImages.Count > 0)
                                        {
                                            requestImgUrl = RequestList[j].RequestImages[0].ImageUrl;
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@requestImgUrl" class="img-fluid" alt="@RequestList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@RequestList[j].Name</h4>
                                                    <p class="card-title text-warning text-center">Category <b>@RequestList[j].Category.Name</b></p>
                                                    <a href="#" class="btn btn-primary">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#requestCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#requestCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col-6">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Our Partners</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="ourPartnersCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtnourPartnersCarousel = (int)Math.Ceiling(PartnerList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtnourPartnersCarousel; i++)
                        {
                            <button type="button" data-bs-target="#ourPartnersCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < PartnerList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < PartnerList.Count; j++)
                                    {
                                        var requestImgUrl = "";
                                        if (PartnerList[j].PartnerImages.Count > 0)
                                        {
                                            requestImgUrl = PartnerList[j].PartnerImages[0].ImageUrl;
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@requestImgUrl" class="img-fluid" alt="@PartnerList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@PartnerList[j].Name</h4>
                                                    @* <a href="#" class="btn btn-primary">Details</a> *@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#ourPartnersCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ourPartnersCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row col-6">
            <div class="col-md-12  d-flex justify-content-start">
                <div>
                    <h2 class="h2ProfileCsarousel">Trust Us</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="trustUsCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        @{
                            int noOdBtntrustUsCarousel = (int)Math.Ceiling(TrustiesList.Count / 4.0);
                        }
                        @for (int i = 0; i < noOdBtntrustUsCarousel; i++)
                        {
                            <button type="button" data-bs-target="#trustUsCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                        }
                    </div>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < TrustiesList.Count; i += 4)
                        {
                            <div class="item carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 4 && j < TrustiesList.Count; j++)
                                    {
                                        var requestImgUrl = "";
                                        if (TrustiesList[j].TrustImages.Count > 0)
                                        {
                                            requestImgUrl = TrustiesList[j].TrustImages[0].ImageUrl;
                                        }
                                        <div class="col-sm-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@requestImgUrl" class="img-fluid" alt="@TrustiesList[j].Name">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@Html.Raw(TrustiesList[j].Name.ToString())</h4>
                                                    @* <a href="#" class="btn btn-primary">Details</a> *@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#trustUsCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#trustUsCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function ProductDetailsBtn(productId) {
            debugger;
            var url = '@Url.Action("ProductDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", productId);
            window.location.href = url;
        }
        $(document).ready(function () {
        });
    </script>
}
