@model IEnumerable<Service>
@{
    ViewData["Title"] = "Services";
    var ServiceList = Model.ToList();
}
<style>
    .search-container {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        width: 450px;
        border-radius: 3px;
    }

    .search-dd {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 3px;
        right: 10px;
        width: 135px;
    }

    .search-input {
        border: 0;
        padding: 4px;
        width: calc(100% - 11px);
    }

    .search-btn {
        position: absolute;
        top: 0;
        right: -2px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px 2px 20px;
        background: #0d6efd;
        color: #fff;
        transition: 0.3s;
    }

    .our-partners {
        color: #0e0e0e;
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }

    .tile-img {
        width: -webkit-fill-available !important;
    }
</style>

<h1>@ViewData["Title"]</h1>
<div class="container portfolio">
    @* <h2 class="animate__animated animate__fadeInDown our-partners">Products</h2> *@
    <div class="row portfolio-container-2">
        @for (int index = 0; index < ServiceList.Count; index++)
        {
            var item = ServiceList[index];
            <div class="col-lg-3 col-md-6">
                <div class="portfolio-wrap">
                    @{
                        var ServiceImgUrl = "";
                        if (item.ServiceImages.Count > 0)
                        {
                            ServiceImgUrl = item.ServiceImages[0].ImageUrl;
                        }
                        else
                        {
                            ServiceImgUrl = @"\images\blank-img.jpg";
                        }
                    }
                    <img src="@ServiceImgUrl" class="img-fluid tile-img" alt="">
                    <div class="portfolio-info">
                        <h4>@item.Name</h4>
                        <p>@item.Category.Name</p>
                        <div class="portfolio-links">
                            <a href="@ServiceImgUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                            <a onclick="ServiceDetailsBtn(@item.Id)" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@* <div class="row pb-3">
    @foreach (var service in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                        @if(service.ServiceImages!=null && service.ServiceImages.Count() > 0) {
                            <img src="@service.ServiceImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                        }
                        else {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }
                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@service.Name</p>
                                <p class="card-title text-warning text-center">Category : <b>@service.Category.Name</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div> *@

@section Scripts {
    <script>
        function ProductDetailsBtn(productId) {
            var url = '@Url.Action("ProductDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", productId);
            window.location.href = url;
        }
        function ServiceDetailsBtn(serviceId) {
            var url = '@Url.Action("ServiceDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", serviceId);
            window.location.href = url;
        }
        function RequestDetailsBtn(requestId) {
            var url = '@Url.Action("RequestDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", requestId);
            window.location.href = url;
        }
    </script>
}