@model Product
@{
    ViewData["Title"] = "Details";
    var ImageMain = Model.ProductImages.Count != 0 ? Model.ProductImages.FirstOrDefault().ImageUrl : @"\images\blank-img.jpg";
}
<style>
    .text-bold {
        font-weight: 800;
    }

    text-color {
        color: #0093c4;
    }

    /* Main image - left */
    .main-img img {
        width: 100%;
    }

    /* Preview images */
    .previews img {
        width: 100%;
        height: 140px;
    }

    .main-description .category {
        text-transform: uppercase;
        color: #0093c4;
    }

    .main-description .product-title {
        font-size: 2.5rem;
    }

    .old-price-discount {
        font-weight: 600;
    }

    .new-price {
        font-size: 2rem;
    }

    .details-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        color: #757575;
    }

    .buttons .block {
        margin-right: 5px;
    }

    .quantity input {
        border-radius: 0;
        height: 40px;
    }


    .custom-btn {
        text-transform: capitalize;
        background-color: #0093c4;
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 0;
    }

        .custom-btn:hover {
            background-color: #0093c4 !important;
            font-size: 18px;
            color: white !important;
        }

    .similar-product img {
        height: 400px;
    }

    .similar-product {
        text-align: left;
    }

        .similar-product .title {
            margin: 17px 0px 4px 0px;
        }

        .similar-product .price {
            font-weight: bold;
        }

    .questions .icon i {
        font-size: 2rem;
    }

    .questions-icon {
        font-size: 2rem;
        color: #0093c4;
    }


    /* Small devices (landscape phones, less than 768px) */
    @@media (max-width: 767.98px) {
        /* Make preview images responsive  */
        .previews img {
            width: 100%;
            height: auto;
        }
    }
</style>
<div class="cd__main">
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid"
                         src="@ImageMain"
                         alt="ProductS">
                    <div class="row my-3 previews">
                        @foreach (var image in Model.ProductImages)
                        {
                            var ImgUrl = "";
                            if (!string.IsNullOrEmpty(image.ImageUrl))
                            {
                                ImgUrl = image.ImageUrl;
                            }
                            else
                            {
                                ImgUrl = @"\images\blank-img.jpg";
                            }
                            <div class="col-md-3">
                                <img class="w-100"
                                     src="@ImgUrl"
                                     alt="Sale">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: @Model.Category.Name
                    </div>
                    <div class="product-title text-bold my-3">
                        @Model.Name
                    </div>
                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">@Html.Raw(Model.Description)</p>
                </div>
                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0">
                        <span><i class="fa-solid fa-truck"></i></span> <b>
                            CapacityUnit: @Model.CapacityUnit
                        </b>
                    </p>
                    <p class="text-secondary">ProductionCapacity: @Model.ProductionCapacity</p>
                </div>
                <div class="delivery-options my-4">
                    <p class="font-weight-bold mb-0">
                        <span><i class="fa-solid fa-filter"></i></span> <b>
                            Certificates: @Model.Certificates
                        </b>
                    </p>
                </div>


            </div>
        </div>
    </div>
    <!-- END EDMO HTML (Happy Coding!)-->
</div>