@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    var ProductList = Model.Products.ToList();
    var ServiceList = Model.Services.ToList();
    var RequestList = Model.Requests.ToList();
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/kaiadmin.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
<style>
    body {
        background: #e2eaef;
        font-family: "Open Sans", sans-serif;
    }

    .h2ProfileCsarousel {
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        margin: 30px 0 15px;
    }

    #AddProductBtn, #AddRequestBtn, #AddServiceBtn {
        margin: 30px 0 15px;
    }

    .h2ProfileCsarousel::after {
        content: "";
        width: 150px;
        position: absolute;
        margin: 0 0;
        height: 4px;
        border-radius: 1px;
        background: #007bff;
        left: 0;
        right: 0;
        bottom: -20px;
    }

    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }

        .carousel .item {
            color: #747d89;
            min-height: 325px;
            text-align: center;
            overflow: hidden;
        }

        .carousel .thumb-wrapper {
            padding: 25px 15px;
            background: #fff;
            border-radius: 6px;
            text-align: center;
            position: relative;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }

        .carousel .item .img-box {
            height: 120px;
            margin-bottom: 20px;
            width: 100%;
            position: relative;
        }

        .carousel .item img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        .carousel .item h4 {
            font-size: 18px;
        }

        .carousel .item h4, .carousel .item p, .carousel .item ul {
            margin-bottom: 5px;
        }

        .carousel .thumb-content .btn {
            color: #007bff;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            background: none;
            border: 1px solid #007bff;
            padding: 6px 14px;
            margin-top: 5px;
            line-height: 16px;
            border-radius: 20px;
        }

            .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
                color: #fff;
                background: #007bff;
                box-shadow: none;
            }

            .carousel .thumb-content .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

        .carousel .item-price {
            font-size: 13px;
            padding: 2px 0;
        }

            .carousel .item-price strike {
                opacity: 0.7;
                margin-right: 5px;
            }

    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: #007bff;
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
    }

        .carousel-control-prev:hover, .carousel-control-next:hover {
            background: #007bff;
            opacity: 1;
        }

        .carousel-control-prev i, .carousel-control-next i {
            font-size: 36px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin: -19px 0 0 0;
            z-index: 5;
            left: 0;
            right: 0;
            color: #fff;
            text-shadow: none;
            font-weight: bold;
        }

        .carousel-control-prev i {
            margin-left: -2px;
        }

        .carousel-control-next i {
            margin-right: -4px;
        }

    .carousel-indicators {
        bottom: -50px;
    }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 10px;
            height: 10px;
            margin: 4px;
            border-radius: 50%;
            border: none;
        }

        .carousel-indicators li {
            background: rgba(0, 0, 0, 0.2);
        }

            .carousel-indicators li.active {
                background: rgba(0, 0, 0, 0.6);
            }

    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }

        .carousel .wish-icon .fa-heart {
            color: #ff6161;
        }

    .star-rating li {
        padding: 0;
    }

    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }

    .img-logo {
        border: 2px solid black;
        min-height: 130px;
        min-width: 115px;
    }

    .img-box {
        width: 100%;
        height: 200px; /* Set desired height */
        overflow: hidden;
        position: relative;
    }

    .img-box2 {
        height: 200px; /* Set desired height */
        overflow: hidden;
        position: relative;
    }

    .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures image covers the area while maintaining aspect ratio */
        object-position: center; /* Center the image within the container */
    }

    .fa.fa-trash {
        color: #ec5959;
    }

    .card {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-title-color: #2A3547;
        --bs-card-subtitle-color: #2A3547;
        --bs-card-border-width: 0px;
        --bs-card-border-color: #ebf1f6;
        --bs-card-border-radius: 7px;
        --bs-card-box-shadow: rgba(145,158,171,0.2) 0px 0px 2px 0px, rgba(145,158,171,0.12) 0px 12px 24px -4px;
        --bs-card-inner-border-radius: 7px;
        --bs-card-cap-padding-y: 15px;
        --bs-card-cap-padding-x: 30px;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb),0.03);
        --bs-card-cap-color:;
        --bs-card-height:;
        --bs-card-color:;
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 12px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);
        -webkit-box-shadow: var(--bs-card-box-shadow);
        box-shadow: var(--bs-card-box-shadow);
    }

    .card-desc {
        margin-left: 3.5rem;
        y: 1;
        color: var(--bs-secondary-color) !important;
    }

    .card-body-c {
        flex: 1 1 auto;
        color: var(--bs-card-color);
        padding: 1rem 2.5rem;
    }

    .card-title-kpi {
        font-size: 18px;
    }

    .fw-semibold {
        font-weight: 600 !important;
    }

    .mb-9 {
        margin-bottom: 20px !important;
    }

    .apexcharts-canvas {
        position: relative;
        user-select: none;
    }

    .company-logo {
        min-width: 100%;
        min-height: 250px;
    }
</style>

<div class="container-xl">
    <div class="row">
        <div class="col-md-4 col-xl-3 Profile">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img src="~/images/blank-img.jpg" alt="company-name" class="company-logo mb-2" width="128" height="128">
                    <h5 class="card-title mb-0">Company Name</h5>
                    <div class="text-muted mb-2">Activity</div>
                </div>
                <hr class="my-0">
                <div class="card-body-c d-flex">
                    <h5 class="h6 card-title">CEO :</h5>
                    <h4 class="h6 card-desc">Saad Javed</h4>
                </div>
                <div class="card-body-c d-flex">
                    <h5 class="h6 card-title">Category</h5>
                    <h5 class="h6 card-desc">Software Development</h5>
                </div>
                <div class="card-body-c d-flex">
                    <h5 class="h6 card-title">Country</h5>
                    <h4 class="h6 card-desc">United States</h4>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-xl-9 Activities">
            <div class="card">
                <div class="card-body h-100">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-primary bubble-shadow-small">
                                                <i class="fa fa-product-hunt"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0">
                                            <div class="numbers">
                                                <p class="card-category">Products</p>
                                                <h4 class="card-title">1,294</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-info bubble-shadow-small">
                                                <i class="fa  fa-circle-s"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0">
                                            <div class="numbers">
                                                <p class="card-category">Services</p>
                                                <h4 class="card-title">1303</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-success bubble-shadow-small">
                                                <i class="fa fa-registered"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats ms-3 ms-sm-0">
                                            <div class="numbers">
                                                <p class="card-category">Requests</p>
                                                <h4 class="card-title">1,345</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Basic</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                                        <thead>
                                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 168.962px;">Name</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 261.438px;">Position</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 127.912px;">Office</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50.875px;">Age</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 125.312px;">Start date</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 104.5px;">Salary</th></tr>
                                                        </thead>
                                                        <tbody>

























































                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">Airi Satou</td>
                                                                <td>Accountant</td>
                                                                <td>Tokyo</td>
                                                                <td>33</td>
                                                                <td>2008/11/28</td>
                                                                <td>$162,700</td>
                                                            </tr>
                                                            <tr role="row" class="even">
                                                                <td class="sorting_1">Angelica Ramos</td>
                                                                <td>Chief Executive Officer (CEO)</td>
                                                                <td>London</td>
                                                                <td>47</td>
                                                                <td>2009/10/09</td>
                                                                <td>$1,200,000</td>
                                                            </tr>
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">Ashton Cox</td>
                                                                <td>Junior Technical Author</td>
                                                                <td>San Francisco</td>
                                                                <td>66</td>
                                                                <td>2009/01/12</td>
                                                                <td>$86,000</td>
                                                            </tr>
                                                            <tr role="row" class="even">
                                                                <td class="sorting_1">Bradley Greer</td>
                                                                <td>Software Engineer</td>
                                                                <td>London</td>
                                                                <td>41</td>
                                                                <td>2012/10/13</td>
                                                                <td>$132,000</td>
                                                            </tr>
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">Brenden Wagner</td>
                                                                <td>Software Engineer</td>
                                                                <td>San Francisco</td>
                                                                <td>28</td>
                                                                <td>2011/06/07</td>
                                                                <td>$206,850</td>
                                                            </tr>
                                                            <tr role="row" class="even">
                                                                <td class="sorting_1">Brielle Williamson</td>
                                                                <td>Integration Specialist</td>
                                                                <td>New York</td>
                                                                <td>61</td>
                                                                <td>2012/12/02</td>
                                                                <td>$372,000</td>
                                                            </tr>
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">Bruno Nash</td>
                                                                <td>Software Engineer</td>
                                                                <td>London</td>
                                                                <td>38</td>
                                                                <td>2011/05/03</td>
                                                                <td>$163,500</td>
                                                            </tr>
                                                            <tr role="row" class="even">
                                                                <td class="sorting_1">Caesar Vance</td>
                                                                <td>Pre-Sales Support</td>
                                                                <td>New York</td>
                                                                <td>21</td>
                                                                <td>2011/12/12</td>
                                                                <td>$106,450</td>
                                                            </tr>
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">Cara Stevens</td>
                                                                <td>Sales Assistant</td>
                                                                <td>New York</td>
                                                                <td>46</td>
                                                                <td>2011/12/06</td>
                                                                <td>$145,600</td>
                                                            </tr>
                                                            <tr role="row" class="even">
                                                                <td class="sorting_1">Cedric Kelly</td>
                                                                <td>Senior Javascript Developer</td>
                                                                <td>Edinburgh</td>
                                                                <td>22</td>
                                                                <td>2012/03/29</td>
                                                                <td>$433,060</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl d-none">
    <div class="row">
        <div class="col-md-2 img-box2">
            <img src="@Model.CompnayLogo" class="" alt="logo-here" />
        </div>
        <div class="col-md-10">
            <div><input class="my-2" placeholder="company Name" value="@Model.CompnayName" /></div>
            @if (Model.UserType == "Importer")
            {
                <div><input class="my-2" placeholder="Country" value="@Model.CountryName" /></div>
            }
            @if (Model.UserType == "Exporter")
            {
                <div><input class="my-2" placeholder="Wilaya" value="@Model.WilayaName" /></div>
            }
            <div><input class="my-2" placeholder="Activity" value="@Model.ActivityName" /></div>
        </div>
        @if (Model.UserType == "Exporter")
        {
            <div class="row">
                <div class="col-md-12  d-flex justify-content-between">
                    <div>
                        <h2 class="h2ProfileCsarousel">Products</h2>
                    </div>
                    <div>
                        <button id="AddProductBtn" class="btn btn-light border-dark me-1">Add <span class="fa fa-solid fa-plus"></span></button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                        <div class="carousel-indicators">
                            @{
                                int noOdBtnProductCarousel = (int)Math.Ceiling(ProductList.Count / 4.0);
                            }
                            @for (int i = 0; i < noOdBtnProductCarousel; i++)
                            {
                                <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                            }
                        </div>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            @for (int i = 0; i < ProductList.Count; i += 4)
                            {
                                <div class="item carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 4 && j < ProductList.Count; j++)
                                        {
                                            var productImgUrl = "";
                                            if (ProductList[j].ProductImages.Count > 0)
                                            {
                                                productImgUrl = ProductList[j].ProductImages[0].ImageUrl;
                                            }
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon">
                                                        <i data-product-id="@ProductList[j].Id" class=" EditProductBtn fa fa-solid fa-pencil mr-2"></i>
                                                        <a class="fa fa-trash" onClick=Delete('/admin/product/delete/@ProductList[j].Id')></a>
                                                    </span>
                                                    <div class="img-box">
                                                        <img src="@productImgUrl" class="img-fluid" alt="@ProductList[j].Name">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>@ProductList[j].Name</h4>
                                                        <p class="card-title text-warning text-center">Category <b>@ProductList[j].Category.Name</b></p>
                                                        <a onclick="ProductDetailsBtn(@ProductList[j].Id)" class="btn btn-primary">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- Carousel controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  d-flex justify-content-between">
                    <div>
                        <h2 class="h2ProfileCsarousel">Services</h2>
                    </div>
                    <div>
                        <button id="AddServiceBtn" class="btn btn-light border-dark me-1">Add <span class="fa fa-solid fa-plus"></span></button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="serviceCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                        <div class="carousel-indicators">
                            @{
                                int noOdBtnServiceCarousel = (int)Math.Ceiling(ServiceList.Count / 4.0);
                            }
                            @for (int i = 0; i < noOdBtnServiceCarousel; i++)
                            {
                                <button type="button" data-bs-target="#serviceCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                            }
                        </div>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            @for (int i = 0; i < ServiceList.Count; i += 4)
                            {
                                <div class="item carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 4 && j < ServiceList.Count; j++)
                                        {
                                            var serviceImgUrl = "";
                                            if (ServiceList[j].ServiceImages.Count > 0)
                                            {
                                                serviceImgUrl = ServiceList[j].ServiceImages[0].ImageUrl;
                                            }
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon">
                                                        <i data-service-id="@ServiceList[j].Id" class="EditServiceBtn fa fa-solid fa-pencil mr-2"></i>
                                                        <a class="fa fa-trash" onClick=Delete('/admin/service/delete/@ServiceList[j].Id')></a>
                                                    </span>
                                                    <div class="img-box">
                                                        <img src="@serviceImgUrl" class="img-fluid" alt="@ServiceList[j].Name">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>@ServiceList[j].Name</h4>
                                                        <p class="card-title text-warning text-center">Category <b>@ServiceList[j].Category.Name</b></p>
                                                        <a onclick="ServiceDetailsBtn(@ServiceList[j].Id)" class="btn btn-primary">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- Carousel controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#serviceCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#serviceCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
        @if (Model.UserType == "Importer" || Model.UserType == "Exporter")
        {
            <div class="row">
                <div class="col-md-12  d-flex justify-content-between">
                    <div>
                        <h2 class="h2ProfileCsarousel">Requests</h2>
                    </div>
                    <div>
                        <button id="AddRequestBtn" class="btn btn-light border-dark me-1">Add <span class="fa fa-solid fa-plus"></span></button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="requestCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                        <div class="carousel-indicators">
                            @{
                                int noOdBtnRequestCarousel = (int)Math.Ceiling(RequestList.Count / 4.0);
                            }
                            @for (int i = 0; i < noOdBtnRequestCarousel; i++)
                            {
                                <button type="button" data-bs-target="#requestCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                            }
                        </div>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            @for (int i = 0; i < RequestList.Count; i += 4)
                            {
                                <div class="item carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 4 && j < RequestList.Count; j++)
                                        {
                                            var requestImgUrl = "";
                                            if (RequestList[j].RequestImages.Count > 0)
                                            {
                                                requestImgUrl = RequestList[j].RequestImages[0].ImageUrl;
                                            }
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon">
                                                        <i data-request-id="@RequestList[j].Id" class="EditRequestBtn fa fa-solid fa-pencil mr-2"></i>
                                                        <a class="fa fa-trash" onClick=Delete('/admin/request/delete/@RequestList[j].Id')></a>
                                                    </span>
                                                    <div class="img-box">
                                                        <img src="@requestImgUrl" class="img-fluid" alt="@RequestList[j].Name">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>@RequestList[j].Name</h4>
                                                        <p class="card-title text-warning text-center">Category <b>@RequestList[j].Category.Name</b></p>
                                                        <a onclick="RequestDetailsBtn(@RequestList[j].Id)" class="btn btn-primary">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#requestCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#requestCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // $(".wish-icon i").click(function () {
            //     $(this).toggleClass("fa-heart fa-heart-o");
            // });
            $('#AddProductBtn').on('click', function () {
                window.location.href = '@Url.Action("Upsert", "Product", new { area = "visitor" })';
            });
            $('#AddServiceBtn').on('click', function () {
                window.location.href = '@Url.Action("Upsert", "Service", new { area = "visitor" })';
            });
            $('#AddRequestBtn').on('click', function () {
                window.location.href = '@Url.Action("Upsert", "Request", new { area = "visitor" })';
            });

            $('.EditProductBtn').on('click', function () {
                var productId = $(this).data('product-id');
                window.location.href = '@Url.Action("Upsert", "Product", new { area = "visitor", id = "__id__" })'.replace('__id__', productId);
            });
            $('.EditServiceBtn').on('click', function () {
                var serviceId = $(this).data('service-id');
                window.location.href = '@Url.Action("Upsert", "Service", new { area = "visitor", id = "__id__" })'.replace('__id__', serviceId);
            });
            $('.EditRequestBtn').on('click', function () {
                var requestId = $(this).data('request-id');
                window.location.href = '@Url.Action("Upsert", "Request", new { area = "visitor", id = "__id__" })'.replace('__id__', requestId);
            });
        });
        function Delete(url) {
            debugger;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            toastr.success(data.message);
                            window.location.reload();
                        }
                    })
                }
            })
        }
        function ProductDetailsBtn(productId) {
            var url = '@Url.Action("ProductDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", productId);
            window.location.href = url;
        }
        function ServiceDetailsBtn(serviceId) {
            var url = '@Url.Action("ServiceDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", serviceId);
            window.location.href = url;
        }
        function RequestDetailsBtn(requestId) {
            var url = '@Url.Action("RequestDetails", "Home", new { area = "visitor", Id = "__Id__" })';
            url = url.replace("__Id__", requestId);
            window.location.href = url;
        }
    </script>
}
