@using Microsoft.AspNetCore.Http
@using System.Text.Json
@using VfA.DataAccess.Repository.IRepository
@inject IUserClaimsService _userClaimsService;
@inject IHttpContextAccessor httpContextAccessor;
@{
    UserClaimsVM user = User.Identity.IsAuthenticated ? _userClaimsService.GetUserClaims() : null;
    var profilePreText = "";
    if (user != null)
    {
        profilePreText = user != null ? (user.IsImporter ? "( Importer )" : (user.IsExporter ? "( Exporter )" : "")) : "";
    }
}
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Viadct From Algeria</title>
    @*Boostrap*@
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/VfAWeb.styles.css" asp-append-version="true" />
    @*cdn for toastr*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*cSS for datatables (search, sort etc...)*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">


    <!-- CSS Files -->
    @*  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" /> *@
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="white">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="light-blue">
                    <a href="/Admin/Category" class="logo">
                        <img src="/images/logo.png" class="navbar-brand" height="50">
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        @*  <li b-zdo7mud374="" class="nav-item active">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Index" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-home"></i>
                        <p b-zdo7mud374="">Home</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="About" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-info"></i>
                        <p b-zdo7mud374="">About</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Products" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-product-hunt"></i>
                        <p b-zdo7mud374="">Products</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Services" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-cogs"></i>
                        <p b-zdo7mud374="">Services</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Requests" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-registered"></i>
                        <p b-zdo7mud374="">Request</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Info" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-info-circle"></i>
                        <p b-zdo7mud374="">Useful Info</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Partner" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-handshake-o"></i>
                        <p b-zdo7mud374="">Our Partners</p>
                        </a>
                        </li>
                        <li b-zdo7mud374="" class="nav-item">
                        <a asp-area="Visitor" asp-controller="Home" asp-action="Trust" b-zdo7mud374="" class="collapsed">
                        <i b-zdo7mud374="" class="fa fa-leaf"></i>
                        <p b-zdo7mud374="">Trust Us</p>
                        </a>
                        </li> *@
                        @if (user != null && !User.IsInRole(SD.Role_Admin))
                        {
                            <li b-zdo7mud374="" class="nav-item">
                                <a asp-area="Visitor" asp-controller="Profile" asp-action="Index" b-zdo7mud374="" class="collapsed">
                                    <i b-zdo7mud374="" class="fas fa-home"></i>
                                    <p b-zdo7mud374="">My Profile @profilePreText</p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#ContentManagement">
                                    <i class="fa fa-tasks"></i>
                                    <p>Content Management</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="ContentManagement">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                                                <span class="sub-item">Category</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Service" asp-action="Index">
                                                <span class="sub-item">Service</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Request" asp-action="Index">
                                                <span class="sub-item">Request</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                                                <span class="sub-item">Product</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="CompanyActivity" asp-action="Index">
                                                <span class="sub-item">Activity</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#UserManagement">
                                    <i class="fa fa-users"></i>
                                    <p>User Management</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="UserManagement">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Register">
                                                <span class="sub-item">Create User</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                                <span class="sub-item">Manage User</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#PlateformManagement">
                                    <i class="fa fa-desktop"></i>
                                    <p>Plateform Management</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="PlateformManagement">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Info" asp-action="Index">
                                                <span class="sub-item">Info</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Trust" asp-action="Index">
                                                <span class="sub-item">Trust</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Partner" asp-action="Index">
                                                <span class="sub-item">Partner</span>
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Privacy" asp-action="Index">
                                                <span class="sub-item">Privacy</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="About" asp-action="Index">
                                                <span class="sub-item">About</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Gold))
                        {
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#Gold">
                                    <i class="fa fa-users"></i>
                                    <p>My Area</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Gold">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Gold" asp-controller="SuppProduct" asp-action="Index">
                                                <span class="sub-item">My Products</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Gold" asp-controller="Service" asp-action="Index">
                                                <span class="sub-item">My Services</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Gold" asp-controller="Request" asp-action="Index">
                                                <span class="sub-item">My Requests</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Silver))
                        {
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#Silver">
                                    <i class="fa fa-users"></i>
                                    <p>My Area</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Silver">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Silver" asp-controller="SuppProduct" asp-action="Index">
                                                <span class="sub-item">My Products</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Silver" asp-controller="Service" asp-action="Index">
                                                <span class="sub-item">My Services</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Silver" asp-controller="Request" asp-action="Index">
                                                <span class="sub-item">My Requests</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        }
                        @if (User.IsInRole(SD.Role_Basic))
                        {
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#Basic">
                                    <i class="fa fa-users"></i>
                                    <p>My Area</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Basic">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-area="Basic" asp-controller="SuppProduct" asp-action="Index">
                                                <span class="sub-item">My Products</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Basic" asp-controller="Service" asp-action="Index">
                                                <span class="sub-item">My Services</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Basic" asp-controller="Request" asp-action="Index">
                                                <span class="sub-item">My Requests</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Importer))
                        {
                            <li class="nav-item">
                                <a asp-area="Importer" asp-controller="Request" asp-action="Index">
                                    <i class="fa fa-users"></i>
                                    <p>Request</p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="light-blue">
                        <a href="index.html" class="logo">
                            @* <img src="assets/img/kaiadmin/logo_light.svg"
                            alt="navbar brand"
                            class="navbar-brand"
                            height="20" /> *@
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom" data-background-color="light-blue">
                    <div class="container-fluid">
                        @*  <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                        <div class="input-group">
                        <div class="input-group-prepend">
                        <button type="submit" class="btn btn-search pe-1">
                        <i class="fa fa-search search-icon"></i>
                        </button>
                        </div>
                        <input type="text"
                        placeholder="Search ..."
                        class="form-control" />
                        </div>
                        </nav> *@

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic fa fa-lg fa-solid fa-envelope"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">
                                </a>
                            </li>
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic fa fa-lg fa-solid fa-user"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <partial name="_AdminLoginPartial" />
                                </ul>
                            </li>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <div class="container">
                <div class="page-inner">
                    <partial name="_Notification" />
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    &copy; 2024 - <img src="/images/footer.png" /> - @Localizer["All rights Reserved"] <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
                </div>
            </footer>
        </div>
        <!-- Custom template | don't include it in your project! -->
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Logo Header</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="selected changeLogoHeaderColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="blue"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="purple"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="light-blue"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="green"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="orange"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="red"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="white"></button>
                            <br />
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="blue2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="purple2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="light-blue2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="green2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="orange2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Navbar Header</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red"></button>
                            <button type="button"
                                    class="selected changeTopBarColor"
                                    data-color="white"></button>
                            <br />
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Sidebar</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="white"></button>
                            <button type="button"
                                    class="selected changeSideBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="dark2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-toggle">
                <i class="icon-settings"></i>
            </div>
        </div>
        <!-- End Custom template -->
    </div>
    @*_______________________________________________________________________________________________________________________*@





    @**************************************************************Silver*********************************************************@

    @*_______________________________________________________________________________________________________________________*@


    @**************************************************************BAsic**********************************************************@

    @*_______________________________________________________________________________________________________________________*@

    @**************************************************************Importer*******************************************************@

    @*_______________________________________________________________________________________________________________________*@



    @*____________________________________________________________________________________________________________________________________________________________*@



    @*JavaScripts*@
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Script of Alert from Sweetalert 2*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*Script of datatable*@
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @*Tiny Scipt*@
    @*
    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin">
    *@
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @* <script src="https://cdn.tiny.cloud/1/o8s9hbwmqyxn9r3s2360zni13dzl7y14kbp0ny95vhlqj4vv/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> *@

    <!-- Kaiadmin JS -->
    <script src="~/js/kaiadmin.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script></script>
    @await RenderSectionAsync("Scripts", required: false)

    @*----------------------------------------------------------------------------------------------------------------------------*@


</body>
</html>
