@model PaymentViewModel
@{
    ViewData["Title"] = "Pricing";
    long currentPlanId = 0;
    long currentUserType = 1;
    string[] colors = ["#ae003d", "red", "blue", "green", "orange"];
    int i = 0;
}
<style>
    .demo {
        padding: 30px 0
    }

    .pricingTable {
        text-align: center
    }


    h4 {
        color: #444
    }

    .pricingTable {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: all .3s ease 0s;
        margin-bottom: 20px;
    }

        .pricingTable:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, .8) inset, 0 0 10px rgba(0, 0, 0, .8)
        }

        .pricingTable svg {
            display: block;
            margin-left: -1px
        }

        .pricingTable .pricing-content {
            padding: 50px 0 30px;
            position: relative
        }

        .pricingTable .title {
            font-size: 35px;
            font-weight: 600;
            color: #ae003d;
            text-transform: uppercase;
            margin: 0 0 10px
        }

        .pricingTable .pricing-content ul {
            padding: 0;
            margin: 0 0 30px;
            list-style: none
        }

            .pricingTable .pricing-content ul li {
                font-size: 18px;
                color: rgba(0, 0, 0, .3);
                line-height: 40px;
                text-transform: capitalize
            }

        .pricingTable .pricingTable-signup {
            display: inline-block;
            padding: 8px 50px;
            background: #ae003d;
            border-radius: 20px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            transition: all .3s ease 0s;
            text-decoration: none;
            cursor: pointer;
        }

        .pricingTable:hover .pricingTable-signup {
            box-shadow: 0 0 10px #ae003d
        }

        .pricingTable .pricingTable-signup:hover {
            color: #ae003d;
            background: #fff;
            box-shadow: 0 0 10px #ae003d, 0 0 10px #000 inset
        }

        .pricingTable.blue .title {
            color: #005c99
        }

        .pricingTable.blue .pricingTable-signup {
            background: #005c99
        }

        .pricingTable.blue:hover .pricingTable-signup {
            box-shadow: 0 0 10px #005c99
        }

        .pricingTable.blue .pricingTable-signup:hover {
            color: #005c99;
            background: #fff;
            box-shadow: 0 0 10px #005c99, 0 0 10px #000 inset
        }

        .pricingTable.red .title {
            color: #db2c29
        }

        .pricingTable.red .pricingTable-signup {
            background: #db2c29
        }

        .pricingTable.red:hover .pricingTable-signup {
            box-shadow: 0 0 10px #db2c29
        }

        .pricingTable.red .pricingTable-signup:hover {
            color: #db2c29;
            background: #fff;
            box-shadow: 0 0 10px #db2c29, 0 0 10px #000 inset
        }

    @@media only screen and (max-width:990px) {
        .pricingTable {
            margin-bottom: 30px
        }
    }
</style>
<h3>Subscription Plans</h3>
<p>Choose a plan that best suits you.</p>
<div class="demo">
    <div class="container">
        <div class="row">
            @foreach (var plan in Model.SubscriptionPlans.Where(x => x.PlanType == 0 || x.PlanType == currentUserType))
            {
                var color = colors[i];
                i++;
                var integarPart = @plan.MonthlyAmount.ToString().Split(".")[0];
                var decimalPart = @plan.MonthlyAmount.ToString().Split(".")[1];
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable @color">
                        <svg x="0" y="0" viewBox="0 0 360 220">
                            <g>
                                <path fill="@color" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                        c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                        s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                        L0.732,193.75z"></path>
                            </g>
                            <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="78.4489">$@integarPart</text>
                            <text transform="matrix(0.9566 0 0 1 197.3096 83.9121)" fill="#fff" font-size="29.0829">.@decimalPart</text>
                            <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128">/Month</text>
                        </svg>
                        <div class="pricing-content">
                            <h3 class="title">@plan.Name</h3>
                            <ul class="pricing-content">
                                @if (plan.PlanType == 0 || currentUserType == 1)
                                {
                                    <li><b>@plan.NumberOfProducts</b> Products with @plan.NumberOfImagesForProducts images</li>
                                    <li><b>@plan.NumberOfServices</b> Services with @plan.NumberOfImagesForServices images</li>
                                }
                                <li>
                                    <b>
                                        @(plan.NumberOfRequests == -1 ? "Unlimited" : plan.NumberOfRequests)
                                    </b> Requests with @plan.NumberOfImagesForRequests @(plan.NumberOfImagesForRequests > 1 ? "images" : "image")
                                </li>
                                <li><b>@plan._3MonthAmount</b> for 3 Months (-20% Discount)</li>
                                <li><b>@plan._6MonthAmount</b> for 6 Months (-30% Discount)</li>
                                <li><b>@plan._12MonthAmount</b> for 12 Months (-40% Discount)</li>
                            </ul>
                            @if (currentPlanId == plan.Id)
                            {
                                <span class="pricingTable-signup">Subscribed</span>
                            }
                            else
                            {
                                <button onclick="Subscribe(@plan.Id)" class="pricingTable-signup">Subscribe Now</button>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subscriptionModal">
    Choose Subscription
</button>

<!-- Modal -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriptionModalLabel">Select Subscription Plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="subscriptionSelect" class="form-label">Subscription Plan</label>
                        <select class="form-select" id="subscriptionSelect" aria-label="Subscription select">
                            <option value="1">Monthly Subscription</option>
                            <option value="3">3 Months (-10% Discount)</option>
                            <option value="6">6 Months (-20% Discount)</option>
                            <option value="12">12 Months (-30% Discount)</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Subscribe</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var selectedPlanId = 0;
        // Open modal using jQuery
        function Subscribe(subscriptionPlanId) {
            $('#subscriptionModal').modal('show');
            selectedPlanId = subscriptionPlanId;
        };

        // Handle save changes button click
        $('#saveChangesBtn').on('click', function () {
            var months = $('#subscriptionSelect').val();
            window.location.href = '/Payment/ChargeClient?months=' + months + "&subscriptionPlanId=" + selectedPlanId;
        });
    </script>
}