@model PaymentViewModel
@{
    ViewData["Title"] = "Pricing";
    long currentPlanId = Model.ApplicationUser.SubscribedPlanId ?? 0;
    long currentUserType = Model.ApplicationUser.IsImporter ? 2 : 1;
    string[] colors = ["#ae003d", "red", "blue", "green", "orange"];
    int i = 0;
}
<style>
    .payment-method {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        transition: box-shadow 0.3s ease;
        cursor: pointer;
    }

        .payment-method:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    .payment-logo {
        max-width: 100px;
        margin-bottom: 10px;
    }

    .payment-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .demo {
        padding: 30px 0
    }

    .pricingTable {
        text-align: center
    }


    h4 {
        color: #444
    }

    .pricingTable {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: all .3s ease 0s;
        margin-bottom: 20px;
    }

        .pricingTable:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, .8) inset, 0 0 10px rgba(0, 0, 0, .8)
        }

        .pricingTable svg {
            display: block;
            margin-left: -1px
        }

        .pricingTable .pricing-content {
            padding: 50px 0 30px;
            position: relative
        }

        .pricingTable .title {
            font-size: 35px;
            font-weight: 600;
            color: #ae003d;
            text-transform: uppercase;
            margin: 0 0 10px
        }

        .pricingTable .pricing-content ul {
            padding: 0;
            margin: 0 0 30px;
            list-style: none
        }

            .pricingTable .pricing-content ul li {
                font-size: 18px;
                color: rgba(0, 0, 0, .3);
                line-height: 40px;
                text-transform: capitalize
            }

        .pricingTable .pricingTable-signup {
            display: inline-block;
            padding: 8px 50px;
            background: #ae003d;
            border-radius: 20px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            transition: all .3s ease 0s;
            text-decoration: none;
            cursor: pointer;
        }

        .pricingTable:hover .pricingTable-signup {
            box-shadow: 0 0 10px #ae003d
        }

        .pricingTable .pricingTable-signup:hover {
            color: #ae003d;
            background: #fff;
            box-shadow: 0 0 10px #ae003d, 0 0 10px #000 inset
        }

        .pricingTable.blue .title {
            color: #005c99
        }

        .pricingTable.blue .pricingTable-signup {
            background: #005c99
        }

        .pricingTable.blue:hover .pricingTable-signup {
            box-shadow: 0 0 10px #005c99
        }

        .pricingTable.blue .pricingTable-signup:hover {
            color: #005c99;
            background: #fff;
            box-shadow: 0 0 10px #005c99, 0 0 10px #000 inset
        }

        .pricingTable.red .title {
            color: #db2c29
        }

        .pricingTable.red .pricingTable-signup {
            background: #db2c29
        }

        .pricingTable.red:hover .pricingTable-signup {
            box-shadow: 0 0 10px #db2c29
        }

        .pricingTable.red .pricingTable-signup:hover {
            color: #db2c29;
            background: #fff;
            box-shadow: 0 0 10px #db2c29, 0 0 10px #000 inset
        }

    @@media only screen and (max-width:990px) {
        .pricingTable {
            margin-bottom: 30px
        }
    }
</style>
<h3>Subscription Plans</h3>
<p>Choose a plan that best suits you.</p>
<div class="demo">
    <div class="container">
        <div class="row">
            @foreach (var plan in Model.SubscriptionPlans.Where(x => x.PlanType == 0 || x.PlanType == currentUserType))
            {
                var color = colors[i];
                i++;
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable @color">
                        <svg x="0" y="0" viewBox="0 0 360 220">
                            <g>
                                <path fill="@color" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                        c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                        s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                        L0.732,193.75z"></path>
                            </g>
                            <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="50">DZD @plan._3MonthAmount</text>
                            <text transform="matrix(1 0 0 1 233.9629 115.5303)" fill="#fff" font-size="15.4128"></text>
                        </svg>
                        <div class="pricing-content">
                            <h3 class="title">@plan.Name</h3>
                            <ul class="pricing-content">
                                @if (plan.PlanType == 0 || currentUserType == 1)
                                {
                                    <li><b>@(plan.NumberOfProducts == -1 ? "Unlimited" : plan.NumberOfProducts)</b> Products with @plan.NumberOfImagesForProducts images</li>
                                    <li><b>@(plan.NumberOfServices == -1 ? "Unlimited" : plan.NumberOfServices)</b> Services with @plan.NumberOfImagesForServices images</li>
                                }
                                <li>
                                    <b>
                                        @(plan.NumberOfRequests == -1 ? "Unlimited" : plan.NumberOfRequests)
                                    </b> Requests with @plan.NumberOfImagesForRequests @(plan.NumberOfImagesForRequests > 1 ? "images" : "image")
                                </li>
                                <li><b>@plan._3MonthAmount</b> for 3 Months (-20% Discount)</li>
                                <li><b>@plan._6MonthAmount</b> for 6 Months (-30% Discount)</li>
                                <li><b>@plan._12MonthAmount</b> for 12 Months (-40% Discount)</li>
                            </ul>
                            @if (currentPlanId == plan.Id)
                            {
                                <span class="pricingTable-signup">Subscribed</span>
                            }
                            else
                            {
                                <button onclick="Subscribe(@plan.Id,'@plan.Name', @plan._3MonthAmount,@plan._6MonthAmount,@plan._12MonthAmount)" class="pricingTable-signup">Subscribe Now</button>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriptionModalLabel">Select Subscription Plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="subscriptionSelect" class="form-label">Subscription Plan</label>
                        <select class="form-select" id="subscriptionSelect" aria-label="Subscription select">
                            <option value="3">3 Months (-10% Discount)</option>
                            <option value="6">6 Months (-20% Discount)</option>
                            <option value="12">12 Months (-30% Discount)</option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h5>Payment Plan</h5>
                        </div>
                        <div class="col-6 text-end d-flex">
                            <h5 ><span id="payment-plan"></span><span id="payment-plan-months"></span></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <h5>Total Payment</h5>
                        </div>
                        <div class="col-6 text-end d-flex">
                            <h5 style="font-family: sans-serif !important">@(currentUserType == 1 ? "DA" : "USD") <span id="totalAmount"></span></h5>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @if (currentUserType == 1)
                            {
                                <div class="col-12 d-flex">
                                    <div class="payment-method m-auto border-0">
                                        <div class="payment-title">Payment Powered By</div>
                                        <img src="~/images/satim-logo.jpg" alt="CIB Satim Logo" style="max-width:180px;" class="payment-logo">
                                    </div>
                                </div>
                                <div class="col-12 d-flex mt-3">
                                    <div class="g-recaptcha m-auto" data-sitekey="6LdlSAEqAAAAAGnAqohQ9_zzToce9WGC54TV_Oj1"></div>
                                </div>
                            }
                            else
                            {
                                <div id="paypal-container" class="col-12 py-2">
                                    <div class="text-center">
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                            }
                            <div class="col-12">
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" value="" id="termsCheck">
                                    <label class="form-check-label" for="termsCheck">
                                        I agree to the <a href="/Home/Terms" target="_blank">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="error-message" class="text-danger"></div>
                <button type="button" disabled class="btn btn-primary" id="subscribe-btn">Subscribe</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.paypal.com/sdk/js?client-id=@Model.PaypalClientId"></script>
    <script>
        $(document).ready(function () {
            $('#termsCheck').change(function () {
                if ($(this).is(':checked')) {
                    $('#subscribe-btn').prop('disabled', false);
                } else {
                    $('#subscribe-btn').prop('disabled', true);
                }
            });
        });
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                var months = $('#subscriptionSelect').val();
                return fetch("/Paypal/Order?months=" + months + "&subscriptionPlanId=" + selectedPlanId, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(error.message));
            },
            onApprove: (data, actions) => {
                debugger
                return fetch(`/Paypal/Capture?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    window.location.href = "/Payment/Success";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
    <script>
        var selectedPaymentMethod = @currentUserType;
        var selectedPlanId = 0;
        var  _3Amount, _6Amount, _12Amount;
        // Open modal using jQuery
        function Subscribe(subscriptionPlanId, plan, _3monthAmount, _6monthAmount, _12monthAmount) {
            $('#subscriptionModal').modal('show');
            $('#subscriptionSelect').val('3');
            selectedPlanId = subscriptionPlanId;
            _3Amount = _3monthAmount;
            _6Amount = _6monthAmount;
            _12Amount = _12monthAmount;
            $('#totalAmount').text(_3monthAmount);
            $('#payment-plan').text(plan);
            $('#payment-plan-months').text(' - 1 Month');
        };
        $('#subscriptionSelect').on('change', function () {
            var months = $(this).val();
            if (months == 1) {
                $('#totalAmount').text(_monthlyAmount);
                $('#payment-plan-months').text(' - 1 Month');
            }
            else if (months == 3) {
                $('#totalAmount').text(_3Amount);
                $('#payment-plan-months').text(' - 3 Months');
            }
            else if (months == 6) {
                $('#totalAmount').text(_6Amount);
                $('#payment-plan-months').text(' - 6 Months');
            }
            else if (months == 12) {
                $('#totalAmount').text(_12Amount);
                $('#payment-plan-months').text(' - 12 Months');
            }
        })
        // Handle save changes button click
        $('#subscribe-btn').on('click', function () {
            var response = grecaptcha.getResponse();
            if (response.length == 0) {
                $('#error-message').text('reCaptcha not validated!');
            }
            else {
                var months = $('#subscriptionSelect').val();
                $('.loader-wrapper').fadeIn('slow');
                window.location.href = '/Payment/ChargeClient?months=' + months + "&subscriptionPlanId=" + selectedPlanId;
            }
        });
        // function paymentMethodSelect(element, paymentMethod) {
        //     // $('.payment-method').removeClass('bg-primary text-white');
        //     // $(element).addClass('bg-primary text-white');
        //     // selectedPaymentMethod = paymentMethod;
        //     // if (selectedPaymentMethod == 2) {
        //     //     $('#paypal-container').show();
        //     // }
        //     // else {
        //     //     $('#paypal-container').hide();
        //     // }
        // }
    </script>
}